.clock-container {
  margin: 0 auto;
  width: 500px;
}
.outer-shell {
  background-color: #555;
  display: inline-block;
}
.inner-shell {
  background-color: #000;
  border: 15px solid #555;
  overflow: hidden;
}
.left-labels {
  color: #fff;
  font-size: 2rem;
  float: left;
  clear: left;
  width: 75px;
  margin-top: 22px;
  text-align: right;
}
.clock-screen {
  background-color: #500;
  margin: 20px 10px 3px 10px;
  display: inline-block;
}
.clock-text {
  color: #f00;
  font-size: 7.5rem;
  line-height: 6.5rem;
  display: inline-block;
}
.pm-auto {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #f00;
  margin-top: 15px;
  float: left;
  clear: left;
}
.clock-indicator {
  background-color: #f00;
}
.bottom-text {
  color: #fff;
  margin: 5px 0 5px 85px;
}
