cw = 500px
ch = 225px

.clock-container
	text-align: center
	width 100%

.outer-shell
	background-color: #555
	width: cw
	height: ch
	display: inline-block

.inner-shell
	background-color: #000
	width 95%
	height 95%
	border: 15px solid #555

.left-labels
	color #FFF

.clock-screen
	background-color #500
	width cw*.6
	height ch*.5

.clock-text
	color #F00

.clock-indicator
	background-color #F00

.bottom-text
	color white